<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{{.Site.Title}}</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/svg-icons.css">
</head>

<header>
    {{partial "menu.html" .}}
</header>

<main>
    <article style="padding: 8%;border-style: groove;">
        {{ block "main" .}}
            
        {{ end }}
        
        {{ block "footer" .}}
            
        {{ end }}
    </article>
</main>
<script defer src="/js/svg-icons.js"></script>
</html>